*, *::before, *::after{
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: lighter;
   
}

body{
    padding: 0;
    margin: 0;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    border: 3px solid white; 
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #1E79C5;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border: 3px solid white; 
}

.calculator-grid > button:hover{
    background-color: #0D47A1;
    border: 3px solid white; 
}

.calculator-grid > button:active {
    transform: scale(0.95);
}

.span-two {
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgb(10, 16, 178); /* changed to white */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 25px;
    word-wrap: break-word;
    word-break: break-all;
}
.output .previous-operand{
    color:rgba(255,255,255,0.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color:white;
    font-size: 2.5rem;
}

#data-equals {
    background: linear-gradient(to right, #FF512F, #DD2476);
    color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#data-equals:hover {
    background: linear-gradient(to right, #F09819, #FF512F);
}

#data-equals:active {
    transform: scale(0.95);
}